/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.nav-bar {
  width: 1024px;
  height: 100%;
  background-color: #ec715f;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-img img,
.nav-img {
  margin-right: auto;
  height: 100%;
}
.nav-list {
  display: inline-block;
  color: #fafafa;
  font-size: 16px;
  padding: 0 30px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
}

.main-visual-list {
  padding-top: 200px;
  text-align: center;
}

.main-visual-text {
  font-size: 64px;
  color: #fafafa;
  padding-bottom: 10px;
}

.main-visual-text2 {
  font-size: 20px;
  color: #fafafa;
}

main {
  width: 100%;
  margin: 0 auto;
  background-color: #eceff1;
}

.main-text1 {
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
  text-align: center;
}

.main-text2 {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
  text-align: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.image {
  width: 300px;
  height: 250px;
  background-position: center center;
}

.image:nth-child(1) {
  background-image: url(img/sketch.jpg);
  background-size: cover;
}

.image:nth-child(2) {
  background-image: url(img/websuku.png);
  background-size: cover;
  margin: 0 10px;
}

.image:nth-child(3) {
  background-image: url(img/write.jpg);
  background-size: cover;
}
.image:nth-child(4) {
  background-image: url(img/webcamp.png);
  background-size: cover;
  margin-top: 10px;
}
.image:nth-child(5) {
  background-image: url(img/talk.jpg);
  background-size: cover;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  margin-top: 10px;
}

.Feature {
  width: 980px;
  padding: 90px 0;
  margin: 0 auto;
}

.Feature-top {
  font-size: 32px;
  color: #000000;
  text-align: center;
  margin-bottom: 8px;
}

.Feature-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 30px 0;
}

.Strength {
  width: 320px;
  display: inline-block;
}

.Strength-icon {
  text-align: center;
}

.Strength-top {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.Strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.Strength:nth-child(1) {
  margin: 0 10px 0 0;
}

.Strength:nth-child(2) {
  margin: 0 10px 0 0;
}

.Profile {
  width: 100%;
  background-color: #eceff1;
  padding: 90px 0;
}

.Profile-box {
  width: 1024px;
  margin: 0 auto;
}

.Profile-top {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-bottom: 8px;
}

.Profile-text {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
  text-align: center;
}

.Profile-bottom {
  display: flex;
}
.Profile-icon {
  width: 512px;
}

.Profile-image {
  text-align: center;
}

.Profile-image img {
  border-radius: 50%;
}

.Profile-show {
  width: 512px;
}

.Profile-name {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 5px;
}

.Profile-1 {
  font-size: 16px;
  color: #000000;
  padding-bottom: 20px;
}

.Contact {
  width: 800px;
  padding: 90px;
  margin: 0 auto;
}

.Contact-top {
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
  text-align: center;
}

.Contact-text {
  font-size: 16px;
  padding: 30px 0;
  text-align: center;
}

.Contact-bottom {
  display: flex;
}

.Contact-left {
  width: 400px;
  margin: 0 auto;
}

.Contact-dl {
  text-align: left;
}

.Contact-subtitle {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.mail {
  border-bottom: 1px #000000;
  padding-bottom: 20px;
}

.Contact-right {
  width: 400px;
  margin: 0 auto;
}

.right {
  text-align: left;
}

.SNS {
  font-size: 20px;
  font-weight: bold;
}

footer {
  background-color: #ec715f;
  color: #fafafa;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 60px;
  padding-top: 1em;
}

@media screen and (max-width: 767px) {
  header {
    width: 90%;
  }

  .main-visual {
    width: 90%;
  }

  .main {
    width: 90%;
  }

  .images {
    width: 90%;
  }

  .Feature {
    width: 90%;
  }

  .Profile {
    width: 90%;
  }

  .Profile-box {
    width: 90%;
  }

  .Profile-bottom {
    width: 90%;
  }

  .Profile-show {
    width: 90%;
  }

  .Profile-icon {
    width: 90%;
  }

  .Profile-icon {
    width: 90%;
  }

  .Profile-name {
    width: 90%;
  }

  .Profile-1 {
    width: 90%;
  }

  .Contact {
    width: 90%;
  }

  footer {
    width: 90%;
  }
}
