/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.nav-bar {
  width: 1024px;
  height: 100%;
  background-color: #ec715f;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-img img,
.nav-img {
  margin-right: auto;
  height: 100%;
}
.nav-list {
  display: inline-block;
  color: #fafafa;
  font-size: 16px;
  padding: 0 30px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
}

.main-visual-list {
  padding-top: 200px;
  text-align: center;
}

.main-visual-text {
  font-size: 64px;
  color: #fafafa;
  padding-bottom: 10px;
}

.main-visual-text2 {
  font-size: 20px;
  color: #fafafa;
}

main {
  width: 100%;
  margin: 0 auto;
  background-color: #eceff1;
}

.main-text1 {
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
  text-align: center;
}

.main-text1::after {
  margin: 0 auto;
  content: "";
  display: block;
  width: 70px;
  border-bottom: 3px solid #ec715f;
}

.main-text2 {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
  text-align: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.image {
  width: 300px;
  height: 250px;
  background-position: center center;
}

.image:nth-child(1) {
  background-image: url(img/sketch.jpg);
  background-size: cover;
}

.image:nth-child(2) {
  background-image: url(img/websuku.png);
  background-size: cover;
  margin: 0 10px;
}

.image:nth-child(3) {
  background-image: url(img/write.jpg);
  background-size: cover;
}
.image:nth-child(4) {
  background-image: url(img/webcamp.png);
  background-size: cover;
  margin-top: 10px;
}
.image:nth-child(5) {
  background-image: url(img/talk.jpg);
  background-size: cover;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  margin-top: 10px;
}

.Feature {
  width: 980px;
  padding: 90px 0;
  margin: 0 auto;
}

.Feature-top {
  font-size: 32px;
  color: #000000;
  text-align: center;
  margin-bottom: 8px;
}

.Feature-top::after {
  margin: 0 auto;
  content: "";
  display: block;
  width: 70px;
  border-bottom: 3px solid #ec715f;
}

.Feature-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 30px 0;
}

.Strength {
  width: 320px;
  display: inline-block;
}

.Strength-icon {
  text-align: center;
}

.Strength-top {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.Strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.Strength:nth-child(1) {
  margin: 0 10px 0 0;
}

.Strength:nth-child(2) {
  margin: 0 10px 0 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  padding-bottom: 90px;
}

.Profiles {
  background-color: #eceff1;
  width: 100%;
}

.Profile {
  width: 1024px;
  padding-top: 90px;
  margin: 0 auto;
}

.Profile-title {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 8px;
  text-align: center;
}

.Profile-title::after {
  margin: 0 auto;
  content: "";
  display: block;
  width: 70px;
  border-bottom: 3px solid #ec715f;
}

.Profile-text {
  margin: 30px 0;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.Profile-icon {
  width: 1024px;
}

.icon {
  width: 512px;
  float: left;
  position: relative;
}

.icon-image {
  background-image: url(img/my-icon.jpg);
  background-position: center;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 25%;
}

.Profile-content {
  width: 512px;
  float: right;
}

.content-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.content-text {
  padding-bottom: 20px;
}

.Contacts {
  background-color: white;
  width: 100%;
}

.Contact {
  width: 800px;
  padding-top: 90px;
  margin: 0 auto;
}

.contact-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 8px;
}

.contact-title::after {
  margin: 0 auto;
  content: "";
  display: block;
  width: 70px;
  border-bottom: 3px solid #ec715f;
}
.contact-text {
  text-align: center;
  padding: 30px 0;
}

.contact {
  width: 800px;
  float: left;
  position: relative;
}

.contact-content {
  width: 800px;
}

.contact-cover-left {
  width: 400px;
  float: left;
}

.contact-cover-right {
  width: 400px;
  float: right;
}

.contact-left {
  width: 200px;
  margin: 0 auto;
}

.contact-right {
  width: 200px;
  margin: 0 auto;
}

.contact-icon {
  display: inline-block;
  font-size: 50px;
}

.contact-icon:nth-child(3) {
  padding: 0 20px;
}

.contact-subtitle {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.mail {
  padding-bottom: 20px;
}

footer {
  background-color: #ec715f;
  color: #fafafa;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 60px;
  padding-top: 1em;
}

@media screen and (max-width: 767px) {
  header {
    width: 100%;
  }

  nav {
    width: 100%;
    margin: 0 5%;
  }

  .nav-list {
    display: none;
  }

  .ham-menu::before {
    position: absolute;
    top: 5px;
    right: 10%;
    content: "≡";
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    border: #fff 1px solid;
  }

  .main-visual {
    width: 100%;
    background-image: url(img/code.png);
    margin: 0 auto;
  }

  .main-visual-text {
    font-size: 40px;
    font-weight: bold;
  }

  .main {
    width: 90%;
    margin: 0 auto;
  }

  .images {
    width: 90%;
  }

  .image:nth-child(odd) {
    display: none;
  }

  .image:nth-child(even) {
    margin: 0 auto;
  }

  .Feature {
    width: 90%;
    margin: 0 auto;
  }

  .Strength {
    width: 90%;
    margin: 0 auto;
  }

  .Profile {
    width: 90%;
    margin: 0 auto;
  }

  .Profile-icon {
    width: 100%;
  }

  .icon {
    width: 100%;
    height: 1px;
    float: none;
    position: static;
  }

  .icon-image {
    position: static;
    margin: 0 auto;
  }

  .Profile-content {
    float: none;
    width: 100%;
    margin-top: 20px;
  }

  .content-title {
    color: #000000;
    text-align: center;
    padding: 20px 0;
  }

  .content-text {
    text-align: center;
  }

  .Contact {
    width: 90%;
    margin: 0 auto;
  }

  .contact {
    float: none;
    position: static;
  }

  .contact-content {
    width: 100%;
    margin: 0 auto;
  }

  .contact-cover-left,
  .contact-cover-right {
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
  }

  .contact-left,
  .contact-right {
    width: 100%;
    margin: 0 auto;
    position: static;
    text-align: center;
  }

  footer {
    margin: 0;
  }
}
